<header class="header-img blog">
	<div class="banners">
		<div class="banner-messages">
			<div class="tp-caption slider-heading-gry">
				<h1>Reliable and diligent<br>You are in safe hands</h1>
			</div>			
			<div id="HTMLBlock25818" class="HTMLBlock">
				<div class="tp-caption slider-desc">We will lead the project and keep it accurate, on time and within budget. </div>				
				<p><a class="btn btn-default btn-orange" href="https://www.MSPS.com/services" title="Click to find out more" role="button">Our Services</a></p>			
			</div>			
		</div>
	</div>	
</header>
<div class="row text-content">
	<div class="col-xs-12">
	    <h1 class="page-title">Blogs</h1>		
    	<p>Most of our customers have been with us for five years or more and four out of five customers stay with us to work on additional software development&nbsp;projects once their initial piece of work has been finished. Building long-term partnerships with our customers is central to our business and we work hard to earn the trust of our clients. MSPS's customers come from a wide variety of companies and industries; what they all have in common is a need for software and technology that makes their company highly competitive and ready for growth.</p>		
	</div>
</div>
<div class="container-fluid cards-row">
<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://1.bp.blogspot.com/-aFQ-W_KTFWQ/V6BdtpSUy6I/AAAAAAAAAH4/xD_U-BYItSsNvk1UGfROqLBzzU1h32oXQCLcB/s320/4-diwali-greeting-cards-by-ajay-acharya.jpg" alt="Bootstrap Thumbnail: Beautiful Bootstrap Thumbnail like Material Design Cards">
      <div class="caption">
        <h4>Is your ERP system ready for 3D printing?</h4>
        <p class="card-description">3D printed gummy sweets are now a thing. It was inevitable really. Everyone likes sweets, they don’t take long to make, and...</p>
        <p><a data-toggle="modal" data-target="#blog1" class="btn btn-default btn-orange">Read more</a></p>
        <div id="blog1" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-content" ng-include="'../includes/blog1.html'">             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://1.bp.blogspot.com/-aFQ-W_KTFWQ/V6BdtpSUy6I/AAAAAAAAAH4/xD_U-BYItSsNvk1UGfROqLBzzU1h32oXQCLcB/s320/4-diwali-greeting-cards-by-ajay-acharya.jpg" alt="Bootstrap Thumbnail Customization">
      <div class="caption">
        <h4>The best of the best 2017 IT business predictions</h4>
        <p class="card-description">The internet is awash with big tech predictions at the moment, with industry-watchers competing to cook-up their future vision...</p>
        <p><a data-toggle="modal" data-target="#blog2" class="btn btn-default btn-orange">Read more</a></p>
        <div id="blog2" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-content" ng-include="'../includes/blog2.html'">             
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://1.bp.blogspot.com/-aFQ-W_KTFWQ/V6BdtpSUy6I/AAAAAAAAAH4/xD_U-BYItSsNvk1UGfROqLBzzU1h32oXQCLcB/s320/4-diwali-greeting-cards-by-ajay-acharya.jpg" alt="Bootstrap Thumbnail Customization">
      <div class="caption">
        <h4>How to preserve the right culture in a growing software development company</h4>
        <p class="card-description">I’m Chief Operating Officer at Helastel, which makes me responsible for the delivery of all our software development work....</p>
        <p><a data-toggle="modal" data-target="#blog3" class="btn btn-default btn-orange">Read more</a></p>
        <div id="blog3" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-content" ng-include="'../includes/blog3.html'">             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
</div>
</div>