<header class="header-img careers">
	<!-- <div class="banners">
		<div class="banner-messages">
			<div class="tp-caption slider-heading-gry">
				<h1 >Reliable and diligent<br>You are in safe hands</h1>
			</div>
			
			<div id="HTMLBlock25818" class="HTMLBlock">
				<div class="tp-caption slider-desc">We will lead the project and keep it accurate, on time and within budget. </div>				
				<p><a class="btn btn-default btn-orange" href="https://www.MSPS.com/services" title="Click to find out more" role="button">Our Services</a></p>			
			</div>
			
		</div>
	</div>	 -->
</header>
<div class="row text-content">
	<div class="col-xs-12">
        <h1 class="text-center">Jobs in <span id="career-spn1"><a href="#">software development</a></span></h1> 
        <div class="careers-text">
        <p>We are always on the look for individuals who have the desire, willingness, and capacity to pursue new technical capabilities. 
        Additionally, you have a positive attitude, are flexible, and can work individually and also as part of a team. 
        We offer a stimulating, team oriented work environment and lots of potential for growth.</p>
       <p> Please send your CV -<b> jobs@msps-consultancy.com</b></p>
        </div>
</div>
  <!--  <div class="careers-text">
        
            <p >Yes please. We would like to hear from you if you like the look of the work we do and think we would get along. MSPS almost always has openings for <span><a href="#">software development</a></span>  jobs as well as non technical roles. We are fiercely proud of the work we do here and it is a great place to work. You can read more about what it's like to work here on our Life at MSPS page.</p>
            <p>We recruit practical, pragmatic people that can hold their own in a team of independent, bright colleagues. We aren’t always recruiting but we are always interested to know about like-minded people, so do register your interest even if there aren’t any specific roles below that are a fit for you.</p>
            <P style="text-align:center"><button type="button" class="btn btn-primary">SEND US YOUR CV +</button></P>
            <!-- 
            <h2 class="text-center">Current vacancies</h2>
            <div class="career-table">                
                <table>
                    <tbody>
                        <tr>
                            <th scope="row">Job Title:</th>
                            <td>Lead Software Tester</td>
                          <td class="text-right"><a href="#"><button type="button" class="btn btn-primary">APPLY NOW +</button></a></td>
                       </tr>
                        <tr>
                            <th scope="row">In Brief:</th>
                            <td>Set and uphold MSPS's technical software development standards.</td>
                            <td class="text-right"><a href="#"><button type="button" class="btn btn-primary">APPLY NOW +</button></a></td>
                        </tr>
                    </tbody>
                </table>                   
            </div> 
            <h4>Does this sound like the kind of place you want to work?</h4>
            <p>MSPS is based on the Triangle in Glasgow and makes bespoke software, websites and applications for clients in the UK and overseas. We’re a small company with big reach. We manage projects of great complexity for a company of our size. We’re commercially aware as well as super-techy - we communicate well and really understand our customers, and their customers’ customers. We’re informal and easy to talk to and we have great work-life balance.</p>
            <h4>This is what our software engineers sound like:</h4>
            <p ><span id="car-sym"></span>It’s really good working here. It’s partly because it’s a nice office in a great place with good people, partly because the work we do is cool and we’re mentored by experienced and seriously good brains, and partly the ethos of getting to know the client and why the software we’re working on makes a difference. But it’s mostly because we’re really into the work we do. You have to be able to make things happen to like working here - you have to really think and talk things out, find new ways of making things lovely, solve problems and produce work that you like doing and are proud of. No-one will spoon-feed you. That’s what keeps most of us here so long. </p>
            <p>We write business-critical software, lots of it. Speed at coding isn’t the only important thing - fast is good but we’re also creative and collaborative. We’re often at tech events and hack days - one of our team made it to the final of the PayPal hack competition in San Francisco this year. We sport a good team for the PHP pub quiz and have hosted LAN parties in the office. We have to keep up with new stuff - you never know what’s going to turn up in the next project!</p>
        </div>

 -->
  </div>