<header class="home">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>      
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner cloud" role="listbox">
      <div class="item item1 active">
        <div class="banners">
			<div class="banner-messages">
				<div class="tp-caption slider-heading-gry">
					<h1>Reliable and diligent<br>You are in safe hands</h1>
				</div>				
				<div id="HTMLBlock25818" class="HTMLBlock">
					<div class="tp-caption slider-desc">We will lead the project and keep it accurate, on time and within budget. </div>				
					<p><a class="btn btn-default btn-orange" href="https://www.MSPS.com/services" title="Click to find out more" role="button">Our Services<span class="glyphicon glyphicon-chevron-right"></span></a>
					</p>			
				</div>
				
			</div>
		</div>	
      </div>

      <div class="item item2">
        <div class="banners">
			<div class="banner-messages">
				<div class="tp-caption slider-heading-gry">
					<h1>Reliable and diligent<br>You are in safe hands</h1>
				</div>				
				<div id="HTMLBlock25818" class="HTMLBlock">
					<div class="tp-caption slider-desc">We will lead the project and keep it accurate, on time and within budget. </div>				
					<p><a class="btn btn-default btn-orange" href="https://www.MSPS.com/services" title="Click to find out more" role="button">Our Services<span class="glyphicon glyphicon-chevron-right"></span></a>
					</p>			
				</div>
				
			</div>
		</div>	
      </div>
    
    </div>
  </div>
</header>
<div class="container">
    <div class="col-xs-12" id="main-sd">
        <div class="col-sm-4">
            <div class="main-idp">
                <div class="idp-icon">
                   <span class="sw-img web1"></span>
                </div>
                <div class="idp-content">
                    <h3>User experience</h3>
                    <p style="font-size:16px">During the web development process we will be getting inside the minds of your customers to design the right interface for them. That means that they will find exactly what they are looking for and enjoy your site every time. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="main-flex">
                <div class="idp-icon">
                    <span class="sw-img web2"></span>
                </div>
                <div class="idp-content">
                    <h3>Responsive and reliable</h3>
                    <p style="font-size:16px">We make sure your website runs quickly on all browsers and knows what device your customers are using. We are sticklers for adhering to the highest standards of security and performance in web development. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="main-com">
                <div class="idp-icon">
                    <span class="sw-img web3"></span>
                </div>
                <div class="idp-content">
                    <h3>Fully connected</h3>
                    <p style="font-size:16px">Your web application will be supported by your overall digital marketing strategy. From social media to search engine optimisation, we'll be advising you on all aspects of your online presence.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" id="main-findtch">
        <div class="main-ch-sd">
            <div class="sub-chsd">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <h2 id="commit-title">Your website is<br><span style="color:#ff6f58;">your digital ecosystem</span></h2>
                        <p>We can help you create a stronger online presence to support a flourishing business. Your website doesn’t stand alone. It is part of your online presence, your digital ecosystem. Most of our web development is driven by a client’s need to improve a business process , to create efficiency or to gain competitive edge.</p>
                        <p><span class="btn btn-default" id="btn-red">GET IN TOUCH<span class="glyphicon glyphicon-menu-right"></span></span></p>
                    </div>
                    <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" id="swsd-part3">
        <div class="lets-begining">
            <div class="col-sm-1"></div>
            <div class="col-sm-5" id="lets-left">
                <h3 style="color:#ff6f58;">Business-aligned websites</h3>
                <p>We pride ourselves on creating professional websites with a user-experience you can be proud of. We apply the same rigorous process of <span><a href="#" id="cons-spn3"> consultancy</a></span>  and technical expertise to crafting a bespoke web development project as we do to <span><a href="#" id="cons-spn3"> developing any piece of software. </a></span>  </p>
                <p>Going beyond the look and feel of your site, we will be strategizing to make sure it contributes to your biggest business goals. We’ll want to explore who your ideal customers are and how your website will attract them. We'll take you through a process to understand how the right web users will find you and how you will convert them into leads.</p>
            </div>
            <div class="col-sm-5" id="lets-right">
                <p>Your web presence will be optimised for search and speed. As experts in<span><a href="#" id="cons-spn3"> software development </a></span>  we have advanced knowledge in this area. We often go beyond a standalone website build, integrating the site with your existing business-critical systems or third party software. It will be tested rigorously before launch and we’ll discuss a programme of ongoing web development.  </p>
                <p>A good site must be easy to maintain with a sound content management system and secure hosting. We own and manage our own servers and have a deep expertise in <span><a href="#" id="cons-spn3">infrastructure management </a></span>. We’ll be looking ahead to how things will develop and grow as your business evolves.</p>
            </div>
            <div class="col-sm-1"></div>

        </div>
    </div>
</div>
<!--  <div ng-include="'../includes/clients.html'"></div> -->
<div ng-include="'../includes/contactForm.html'"></div>

<script>
$('#myCarousel').carousel({
  interval: 2000,
  cycle: true
}); 
</script>