
<header class="">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner home" role="listbox">
      <div class="item item1 active">
        <div class="banners">
		<div class="banner-messages">
			<div class="tp-caption slider-heading-gry">
				<h1 style = "color: black;">Reliable and diligent<br>You are in safe hands</h1>
			</div>
			
			<div id="HTMLBlock25818" class="HTMLBlock">
				<div class="tp-caption slider-desc" style = "color: black;">We will lead the project and keep it accurate, on time and within budget. </div>				
				<!-- <p><a class="btn btn-default btn-orange" href="https://www.MSPS.com/services" title="Click to find out more" role="button">Our Services<span class="glyphicon glyphicon-chevron-right"></span></a> 
				</p>-->			
			</div>
			
		</div>
	</div>	
      </div>

      <div class="item item2">
        <div class="banners">
		<div class="banner-messages">
			<div class="tp-caption slider-heading-gry">
				<h1 style = "color: white;">Reliable and diligent<br>You are in safe hands</h1>
			</div>
			
			<div id="HTMLBlock25818" class="HTMLBlock">
				<div class="tp-caption slider-desc" style = "color: white;">We will lead the project and keep it accurate, on time and within budget. </div>				
				<!-- <p><a class="btn btn-default btn-orange" href="https://www.MSPS.com/services" title="Click to find out more" role="button">Our Services<span class="glyphicon glyphicon-chevron-right"></span></a>
				</p>-->			
			</div>
			
		</div>
	</div>	
      </div>
    
      <div class="item item3">
       <div class="banners">
		<div class="banner-messages">
			<div class="tp-caption slider-heading-gry">
				<h1 style = "color: black;">Reliable and diligent<br>You are in safe hands</h1>
			</div>
			
			<div id="HTMLBlock25818" class="HTMLBlock">
				<div class="tp-caption slider-desc" style = "color: black;">We will lead the project and keep it accurate, on time and within budget. </div>				
				<!--<p><a class="btn btn-default btn-orange" href="https://www.MSPS.com/services" title="Click to find out more" role="button">Our Services<span class="glyphicon glyphicon-chevron-right"></span></a>
				</p>-->			
			</div>
			
		</div>
	</div>	
      </div>

      <div class="item item4">
       <div class="banners">
		<div class="banner-messages">
			<div class="tp-caption slider-heading-gry">
				<h1 style = "color: white;">Reliable and diligent<br>You are in safe hands</h1>
			</div>
			
			<div id="HTMLBlock25818" class="HTMLBlock">
				<div class="tp-caption slider-desc" style = "color: white;">We will lead the project and keep it accurate, on time and within budget. </div>				
				<!-- <p><a class="btn btn-default btn-orange" href="https://www.MSPS.com/services" title="Click to find out more" role="button">Our Services<span class="glyphicon glyphicon-chevron-right"></span></a>
				</p> -->			
			</div>
			
		</div>
	</div>	
      </div>
    </div>

   
  </div>

</header>

<div class="container">	
    <div class="text-content text-center">
    	<h1>Bespoke software is our thing.</h1>
    	<p>MSPS is a team of experts who work hard to deliver success
		for our clients in innovative and sustainable ways. Our business thrives on 
		our team being proud of the work we produce and building strong
		relationships with our clients.</p>
    </div>	
	<div class="row clearfix">
		<div class="our-processes">
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
				<div class="icon-container">				                    
				    <a class="icon-set icon-consultation">Consultation</a>				    	    
					<div class="icon-title">Consultation</div>
					<div class="icon-summary">It's your vision from square one</div>
				    <div class="icon-detail"><p>Getting a deep understanding of your vision and what your business needs. We'll ask you why? a lot and we will listen very carefully.</p><p><a href="#"></a></p>   	
				    <!--  <div class=""> <p><a href="#/softwareConsultancy" class="btn btn-default btn-orange">Read more</a></p></div> -->
				    </div>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
				<div class="icon-container">				                    
				    <a class="icon-set icon-scope">Scope</a>				    	    
					<div class="icon-title">Scope</div>
					<div class="icon-summary">Refined, reworked, perfected</div>
				    <div class="icon-detail"><p>Detailed plans and documentation to set the stage for building your bespoke software. We research, test and manage potential risks together.</p>   	
				    <!--  <div class=""> <p><a href="https://www.MSPS.com/about/our-project-approach" class="btn btn-default btn-orange">Read more</a></p></div> -->
				    </div>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
				<div class="icon-container">				                    
				    <a class="icon-set icon-build">Build</a>				    	    
					<div class="icon-title">Build</div>
					<div class="icon-summary">From the page to the screen</div>
				    <div class="icon-detail"><p>Building your bespoke software with clear communication at every stage. We rely on transparency and honesty to make sure that your project is a success.</p>   	
				    <!--  div class=""> <p><a href="https://www.MSPS.com/services/software-development" class="btn btn-default btn-orange">Read more</a></p></div> -->
				    </div>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">    
				<div class="icon-container">				                    
				    <a class="icon-set icon-launch">Launch</a>				    	    
					<div class="icon-title">Launch</div>
					<div class="icon-summary">It's time to show the world your stuff</div>
				    <div class="icon-detail"><p>Launching your completed software to your community. We know how important first impressions are and we will be on hand to support you through this critical launch time.</p>   
				    <!--  <div class=""> <p><a href="https://www.MSPS.com/services/software-support" class="btn btn-default btn-orange">Read more</a></p></div> -->
				    </div>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
				<div class="icon-container">				                    
				    <a class="icon-set icon-support">Support</a>				    	    
					<div class="icon-title">Support</div>
					<div class="icon-summary">We don't leave after launch</div>
				    <div class="icon-detail"><p>An ongoing commitment to improve your software and perhaps embark on new phases of development. We work in partnership to maximise your investment and continued growth.</p>   
				    <!--  <div class=""> <p><a href="https://www.MSPS.com/services/software-support" class="btn btn-default btn-orange">Read more</a></p></div> -->
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--  <div ng-include="'../includes/clients.html'"></div> -->
<div class="project">
	<h2>Like what you see?</h2>
	<p>Have a project or idea? Looking for a confident technology partner that will understand your business? Get in touch with us to discuss your requirements. A no-pressure phone conversation with one of our team is usually helpful, whatever stage you are at.</p>
	<!-- <div class="touch"> <a href="https://www.MSPS.com/services/software-consultancy" class="btn btn-default btn-orange">GET IN TOUCH</a></div>  -->
</div>
<script>
$('#myCarousel').carousel({
  interval: 2000,
  cycle: true
}); 
</script>