<header class="header-img infra">
	<div class="banners">
		<div class="banner-messages">
			<div class="tp-caption slider-heading-gry">
				<h1 style="color:white;">Reliable and diligent<br>You are in safe hands</h1>
			</div>
			<div id="HTMLBlock25818" class="HTMLBlock">
				<div class="tp-caption slider-desc" style="color:white;">We will lead the project and keep it accurate, on time and within budget. </div>				
				<!--  <p><a class="btn btn-default btn-orange" href="https://www.MSPS.com/services" title="Click to find out more" role="button">Our Services</a></p>	-->		
			</div>
		</div>
	</div>	
</header>
<div class="container">
    <div class="col-xs-12" id="main-sd">
        <div class="col-sm-4">
            <div class="main-idp">
                <div class="idp-icon">
                   <span class="sw-img infa1"></span>
                </div>
                <div class="idp-content">
                    <h3>Hosted software</h3>
                    <p style="font-size:16px">We’re in control 24/7. If something goes wrong it will be one of our own team up in the night putting it right. Our infrastructure managers are always in close collaboration with our software development <!--  <span><a href="#" id="cons-spn1"> software development</a></span>  --> team.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="main-flex">
                <div class="idp-icon">
                    <span class="sw-img infa2"></span>
                </div>
                <div class="idp-content">
                    <h3>Custom infrastructure</h3>
                    <p style="font-size:16px">Business critical software needs bespoke infrastructure management from a provider who understands your needs. Keeping your software powered and efficient requires a nuanced approach to infrastructure management. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="main-com">
                <div class="idp-icon">
                    <span class="sw-img infa3"></span>
                </div>
                <div class="idp-content">
                    <h3>Secure & compliant</h3>
                    <p style="font-size:16px">We stay in control of security and compliance. System vulnerability is often found where the operating system and hardware meet your software. It’s where performance can be compromised, too. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" id="main-findtch">
        <div class="main-ch-sd">
            <div class="sub-chsd">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <h2 id="commit-title">Hardware and software<br><span>working perfectly together</span></h2>
                        <p>Infrastructure management may be the last thing on your mind when you start talking to us about your software project but it is very important. MSPS is different from other software firms - we control and manage the servers that power your hosted software at our data centre. We are completely accountable for keeping things fast, efficient and up-to-date.</p>
                       <!--  
                        <p><video width="400" controls>
                              <source src="../images/Infrastructure%20management%20for%20IT%20managed%20services.%20Hosted%20software%20specialists%20MSPS.%20(1).mp4" type="video/mp4">
                              <source src="../images/Infrastructure%20management%20for%20IT%20managed%20services.%20Hosted%20software%20specialists%20MSPS.%20(1).ogg" type="video/ogg">
                            </video>
                        </p>
                       
                        <p><span class="btn btn-default" id="btn-violet">GET IN TOUCH<span class="glyphicon glyphicon-menu-right"></span></span></p>
                        -->
                    </div>
                    <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" id="swsd-part3">
        <div class="lets-begining">
            <div class="col-sm-1"></div>
            <div class="col-sm-5" id="lets-left">
                <h3 style="color:#9ea0f1;">Full accountability for your hardware</h3>
                <p>Having the same company make the software and manage the servers has a few really valuable benefits. We don’t have to contact a hosting company to put something right; the host doesn’t blame the software or vice versa; the host isn’t in the wrong time zone or failing to pick up the phone. When we control your infrastructure management it is never any-one else’s fault or problem if something needs seeing to.</p>
                <p><span><a href="#" id="ss-spn3"> Bespoke software </a></span> needs bespoke management. Keeping your software powered and efficient requires a nuanced approach and we’ll know the specifics of its configuration. We’re experienced in complex areas of broadband provision and we want your hosted software to scale and evolve seamlessly as your business does.</p>
             </div>
            <div class="col-sm-5" id="lets-right">
                <p>If you outsource infrastructure management, it makes it much harder to control performance, functionality, security, firewalls, backup and other factors. Increasingly there are also compliance issues to consider, relating to data storage and residency, that have key implications for your business. </p>
                <p>We are very comfortable negotiating highly complex infrastructure arrangements where we need deep knowledge of system capabilities, compatibility and integration so that your system works to its maximum performance alongside your customers’ or other systems.</p>
            </div>
            <div class="col-sm-1"></div>

        </div>
    </div>
</div>