<header class="home">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner softwareDev" role="listbox">
      <div class="item item1 active">
        <div class="banners">
			<div class="banner-messages">
				<div class="tp-caption slider-heading-gry">
					<h1 style="color:white;">Reliable and diligent<br>You are in safe hands</h1>
				</div>				
				<div id="HTMLBlock25818" class="HTMLBlock">
					<div class="tp-caption slider-desc" style="color:white;">We will lead the project and keep it accurate, on time and within budget. </div>				
					 <!--<p><a class="btn btn-default btn-orange" href="https://www.MSPS.com/services" title="Click to find out more" role="button">Our Services<span class="glyphicon glyphicon-chevron-right"></span></a>
					</p> -->			
				</div>				
			</div>
		</div>	
      </div>
      <div class="item item2">
        <div class="banners">
			<div class="banner-messages">
				<div class="tp-caption slider-heading-gry">
					<h1 style="color:white;">Reliable and diligent<br>You are in safe hands</h1>
				</div>			
				<div id="HTMLBlock25818" class="HTMLBlock">
					<div class="tp-caption slider-desc" style="color:white;">We will lead the project and keep it accurate, on time and within budget. </div>				
					<!-- <p><a class="btn btn-default btn-orange" href="https://www.MSPS.com/services" title="Click to find out more" role="button">Our Services<span class="glyphicon glyphicon-chevron-right"></span></a>
					</p> -->			
				</div>			
			</div>
		</div>	
      </div>    
      <div class="item item3">
       <div class="banners">
			<div class="banner-messages">
				<div class="tp-caption slider-heading-gry">
					<h1 style="color:black;">Reliable and diligent<br>You are in safe hands</h1>
				</div>			
				<div id="HTMLBlock25818" class="HTMLBlock">
					<div class="tp-caption slider-desc" style="color:black;">We will lead the project and keep it accurate, on time and within budget. </div>				
					<!--  <p><a class="btn btn-default btn-orange" href="https://www.MSPS.com/services" title="Click to find out more" role="button">Our Services<span class="glyphicon glyphicon-chevron-right"></span></a>
					</p>-->			
				</div>			
			</div>
		</div>	
      </div>     
    </div>
  </div>
</header>
<div class="container">
    <div class="col-xs-12" id="main-sd">
        <div class="col-sm-4">
            <div class="main-idp">
                <div class="idp-icon">
                   <span class="sw-img sw-img1"></span>
                </div>
                <div class="idp-content">
                    <h3>In-depth process</h3>
                    <p style="font-size:16px">You can expect us to be complex, rigorous and in-depth. We are used to business-critical software development and taking on demanding projects <!-- <span><a href="#" id="sd-spn0">demanding projects</a></span>  --> that others don't. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="main-flex">
                <div class="idp-icon">
                    <span class="sw-img sw-img2"></span>
                </div>
                <div class="idp-content">
                    <h3>Flexibility</h3>
                    <p style="font-size:16px">We use an Agile software development methodology which means we aren't completely rigid about the build - we expect things to change as the creative process unfolds. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="main-com">
                <div class="idp-icon">
                    <span class="sw-img sw-img3"></span>
                </div>
                <div class="idp-content">
                    <h3>Communication</h3>
                    <p style="font-size:16px">We will be clear about what we are doing so that you are never in the dark during your software development project. There is transparency and a whole team of people <!--  <span><a href="#" id="sd-spn1">  whole team of people</a></span> --> to call on at every level in the business.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" id="main-committed">
        <div class="main-ch-sd">
            <div class="sub-chsd">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <h2 id="commit-title">Committed and honest<br><span style="color:#d486ac;">software development</span></h2>
                        <p>We follow through fully on our commitments and stay clear on timescales. We know how to balance your budget with your objectives and will be diligent in our effort to make things just right and long lasting. We're more interested in lasting success than quick wins in software development.</p>
                        <!-- <p><span class="btn btn-default" id="commi-btn">GET IN TOUCH<span class="glyphicon glyphicon-menu-right"></span></span></p> -->
                    </div>
                    <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" id="swsd-part3">
        <div class="lets-begining">
            <div class="col-sm-1"></div>
            <div class="col-sm-5" id="lets-left">
                <h3 style="color:#d486ac;">Let's start at the beginning</h3>
                <p>By the time we meet you’ll probably have a vision about what custom written software <!-- <span><a href="#" id="sd-spn2"> custom written software</a></span> --> can do for your business. You’ll be at a point in your business cycle when investment in software is critical. We know it’s not always a tidy starting point – there might be things to rescue or put right.</p>
                <p>We’ll challenge, explore, mirror back your requirements and open up areas for further discussion. We are used to business-critical software development and taking on demanding projects that others don’t. Sometimes we are the only people with the technical competency to do the job.</p>
            </div>
            <div class="col-sm-5" id="lets-right">
                <p>In our industry beauty sells. We’re very proud of the classy, intuitive and elegant UX and product-design work we do. The systems are reliable and fast, look great and are loved by their users and their users’ users.</p>
                <p>Software development engineers live and breathe technology and the beauty of code. At MSPS they work collaboratively across several software development projects, an approach that fosters creativity and a deeper understanding of the implications of their work. We know there’s a delicate balance between an obsession with perfect code and results that will help to drive your business forward.</p>
            </div>
            <div class="col-sm-1"></div>

        </div>
    </div>
</div>
<!--  <div ng-include="'../includes/clients.html'"></div> -->
<div ng-include="'../includes/contactForm.html'"></div>

<script>
$('#myCarousel').carousel({
  interval: 2000,
  cycle: true
}); 
</script>