<header class="home">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>      
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner softwareSupport" role="listbox">
      <div class="item item1 active">
        <div class="banners">
			<div class="banner-messages">
				<div class="tp-caption slider-heading-gry">
					<h1 style="color:white;">Reliable and diligent<br>You are in safe hands</h1>
				</div>				
				<div id="HTMLBlock25818" class="HTMLBlock">
					<div class="tp-caption slider-desc" style="color:white;">We will lead the project and keep it accurate, on time and within budget. </div>				
					<!-- <p><a class="btn btn-default btn-orange" href="https://www.MSPS.com/services" title="Click to find out more" role="button">Our Services<span class="glyphicon glyphicon-chevron-right"></span></a>
					</p> -->			
				</div>
				
			</div>
		</div>	
      </div>

      <div class="item item2">
        <div class="banners">
			<div class="banner-messages">
				<div class="tp-caption slider-heading-gry">
					<h1 style="color:black;">Reliable and diligent<br>You are in safe hands</h1>
				</div>				
				<div id="HTMLBlock25818" class="HTMLBlock">
					<div class="tp-caption slider-desc" style="color:black;">We will lead the project and keep it accurate, on time and within budget. </div>				
					<!-- <p><a class="btn btn-default btn-orange" href="https://www.MSPS.com/services" title="Click to find out more" role="button">Our Services<span class="glyphicon glyphicon-chevron-right"></span></a>
					</p>-->			
				</div>
				
			</div>
		</div>	
      </div>
    
    </div>
  </div>
</header>
<div class="container">
    <div class="col-xs-12" id="main-sd">
        <div class="col-sm-4">
            <div class="main-idp">
                <div class="idp-icon">
                   <span class="sw-img ss1"></span>
                </div>
                <div class="idp-content">
                    <h3>Planning</h3>
                    <p style="font-size:16px">Software support involves a cycle of analysis, planning, creative work and evaluation. It is this process that keeps your business software on point with your corporate strategy. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="main-flex">
                <div class="idp-icon">
                    <span class="sw-img ss2"></span>
                </div>
                <div class="idp-content">
                    <h3>Maximising investment</h3>
                    <p style="font-size:16px">After investing in a significant new piece of software, let's make the most out of your investment through software support. Testing, refining and adding to your software ensures its ongoing profitability.  </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="main-com">
                <div class="idp-icon">
                    <span class="sw-img ss3"></span>
                </div>
                <div class="idp-content">
                    <h3>Security & updates</h3>
                    <p style="font-size:16px">Whether online or internal, the environment in which your software runs is changing all the time. We manage potential security threats and essential updates to keep your software safe.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" id="main-findtch">
        <div class="main-ch-sd">
            <div class="sub-chsd">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <h2 id="commit-title">Ensuring your software<br><span style="color:#b5c261;">gives back to your business</span></h2>
                        <p>Your software will be maintained and tweaked during the software support cycle. We’ll analyse performance and be up to the minute when it comes to security and updates. But the real beauty of ongoing software support is having your own expert technical team at hand all the time. We will be thinking ahead to support your software and your business, working closely with you to make sure that the digital side of your business remains innovative and relevant.</p>
                        <!--  <p><span class="btn btn-default" id="btn-green">GET IN TOUCH<span class="glyphicon glyphicon-menu-right"></span></span></p> -->
                    </div>
                    <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" id="swsd-part3">
        <div class="lets-begining">
            <div class="col-sm-1"></div>
            <div class="col-sm-5" id="lets-left">
                <h3 style="color:#d486ac;">Evolving with your business</h3>
                <p>Once your software is built and is live we hand the responsibility for it back to you. This can be daunting. But you won’t be abandoned at this stage to think about support and about the important next steps by yourself. We already know each other very well and we anticipate continuing to work with you to keep things evolving for your business.</p>
                <p>Firstly, we’ll continue to be provide software consultancy <!-- <span><a href="#" id="ss-spn3"> software consultancy</a></span> -->  – asking if the software is doing the right thing for your business now and into the future. Your software will already be scale-able and future-proof but we’ll still be thinking ten steps ahead to ensure it remains so, whatever happens.</p>
            </div>
            <div class="col-sm-5" id="lets-right">
                <p>Secondly, there will be things to do. These could be slight improvements to your site, or it might be a complete phase of further software development <!--  <span><a href="#" id="ss-spn3"> software development</a></span> --> that wasn’t prioritised before. It’s a question of what you need and when. </p>
                <p>You don’t have to contracting us to support you but our experience is that all of  our clients<!--  <span><a href="#" id="ss-spn3"> our clients</a></span> --> carry on working with us to maximise their investment in the new software. Some clients have been contracting us for software support for six or seven years now. That’s how things are in software – one project often opens up new avenues and opportunities.</p>
            </div>
            <div class="col-sm-1"></div>

        </div>
    </div>
</div> 
<!--  <div ng-include="'../includes/clients.html'"></div> -->
<div ng-include="'../includes/contactForm.html'"></div>

<script>
$('#myCarousel').carousel({
  interval: 2000,
  cycle: true
}); 
</script>