<header class="home">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>      
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner softwareConsultancy" role="listbox">
      <div class="item item1 active">
        <div class="banners">
			<div class="banner-messages">
				<div class="tp-caption slider-heading-gry">
					<h1 style="color:black;">Reliable and diligent<br>You are in safe hands</h1>
				</div>				
				<div id="HTMLBlock25818" class="HTMLBlock">
					<div class="tp-caption slider-desc" style="color:black;">We will lead the project and keep it accurate, on time and within budget. </div>				
					<!-- <p><a class="btn btn-default btn-orange" href="https://www.MSPS.com/services" title="Click to find out more" role="button">Our Services<span class="glyphicon glyphicon-chevron-right"></span></a>
					</p> -->			
				</div>				
			</div>
		</div>	
      </div>

      <div class="item item2">
        <div class="banners">
			<div class="banner-messages">
				<div class="tp-caption slider-heading-gry">
					<h1 style="color:white;">Reliable and diligent<br>You are in safe hands</h1>
				</div>				
				<div id="HTMLBlock25818" class="HTMLBlock">
					<div class="tp-caption slider-desc" style="color:white;">We will lead the project and keep it accurate, on time and within budget. </div>				
					<!-- <p><a class="btn btn-default btn-orange" href="https://www.MSPS.com/services" title="Click to find out more" role="button">Our Services<span class="glyphicon glyphicon-chevron-right"></span></a>
					</p>  -->			
				</div>				
			</div>
		</div>	
      </div>    
    </div>
  </div>
</header>
<div class="container">
    <div class="col-xs-12" id="main-sd">
        <div class="col-sm-4">
            <div class="main-idp">
                <div class="idp-icon">
                   <span class="sw-img sw-conimg1"></span>
                </div>
                <div class="idp-content">
                    <h3>Simple strategies for change</h3>
                    <p style="font-size:16px">Through in-depth conversations about your business we will understand what needs to change. Your overall strategies for growth and your business processes become clear through the software development consultancy process. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="main-flex">
                <div class="idp-icon">
                    <span class="sw-img sw-conimg2"></span>
                </div>
                <div class="idp-content">
                    <h3>Understanding your business</h3>
                    <p style="font-size:16px">We will be asking you "why" a lot and we'll listen very carefully. We have an unusual degree of business acumen and expect to become deeply integrated with our clients'<!--  <span><a href="#" id="cons-spn1"> our clients</a></span> ' --> businesses while we carry out software consultancy services with them. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="main-com">
                <div class="idp-icon">
                    <span class="sw-img sw-conimg3"></span>
                </div>
                <div class="idp-content">
                    <h3>The value of a well-laid plan</h3>
                    <p style="font-size:16px">Our software consultancy services include the creation of technical and business strategy documentation. We pride ourselves on the quality and reliability of these documents and the depth of the process from which they are borne.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" id="main-findtch">
        <div class="main-ch-sd">
            <div class="sub-chsd">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <h2 id="commit-title">Finding out what technology<br><span style="color:#ff8150;">could do for you</span></h2>
                        <p>In working with us, you will receive considered, competent advice and support, with the highest levels of technical expertise. Our approach to software development consulting has always been one of discovery and collaboration; our consultants will understand you and your strategies for growth in the present and in the long-term. They'll support you in defining what your software must do and what it must not do.</p>
                        <p>The software consultancy process is an in-depth conversation to realise the full potential and value of software in your business. We offer a professional service designed to assist businesses in the best use of IT through objective advice, recommendations and expertise. By following this process, organisations are enabled to achieve their business goals and to develop sound strategies for success.</p>
                        <p>Whether you're seeking support for a project, guidance in procuring or using technology, or simply knowledge and insight from an industry specialist, we have the experience and resources to help. Our software consultants have the technical and business knowledge to understand business processes, those which work and those which need to change. They have the communications skills to express technical concepts to corporate and non-technical audiences. With the vision to translate those concepts into growth strategies, we will work closely with you to transform those strategies into successful projects.</p>
                       <!-- <p><span class="btn btn-default" id="btn-orange2">GET IN TOUCH<span class="glyphicon glyphicon-menu-right"></span></span></p>  -->
                    </div>
                    <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" id="swsd-part3">
        <div class="lets-begining">
            <div class="col-sm-1"></div>
            <div class="col-sm-5" id="lets-left">
                <h3 style="color:#d486ac;">What to expect from software consultancy</h3>
                <p>We will want to understand your vision, what your strategy is for growth now and in the long-term, what you need your software to do and what you don’t need it to do. The software consultancy process will be an in-depth conversation about your business, your customers and your customers’ customers, about marketing and monetising your software. </p>
                <p>You’re probably not going into this lightly. You might have investment for something highly innovative or you might be motivated by any number of things from pressure to grow to the fact that the ‘make do and mend’ approach won’t last any longer. We know it’s important, expensive and also business-critical, sometimes even life or death for a company.</p>
                <p>Software consultancy can be a standalone process to help you establish exactly what you need or it can happen after we've met and before we start building your<span><a href="#" id="cons-spn3"> software.</a></span> </p>
            </div>
            <div class="col-sm-5" id="lets-right">
                <p>We’ll be looking ahead to what happens along the way at our end and at yours. We have a good nose for the best way to tackle a project and a lot of experience to bring to it. You can feel secure because everything is in place, the scene is set and you’ll see how well we want to get to know you and your business. </p>
                <p>We’re going to stay with you and we won’t let things fail. We are technically able, we’ll stay on time and on budget and throughout the process you’ll be able to see what’s happening – not in the dark; no surprises.</p>
                <p>We work with owners and board members of high potential, mid sized businesses who are ready to make a step change in the performance and capacity of their business. MSPS provides the business acumen, IT knowledge and experience needed to lead the development and delivery of breakthrough growth strategies and underpin them with great software.</p>
            </div>
            <div class="col-sm-1"></div>

        </div>
    </div>
</div>
<!-- <div ng-include="'../includes/clients.html'"></div> -->
<div ng-include="'../includes/contactForm.html'"></div>

<script>
$('#myCarousel').carousel({
  interval: 2000,
  cycle: true
}); 
</script>